/* these styles only fits for the current Queen Nails Design (=current Flyer) */

@font-face {
  font-family: 'Andasia';
  src: url('fonts/Andasia.ttf');
}

:root {
  --nails-corporate-color: #9e472c;
  --nails-corporate-color-light: #d4856d;
  --nails-corporate-font: 'Andasia';
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(189, 188, 188);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--nails-corporate-color-light);
  &:hover {
    background: var(--nails-corporate-color);
  }
}

#qn-header {
  color: var(--color-background);
  background-color: var(--nails-corporate-color);
  position: sticky;
  top: 0;
  padding: 0.75rem 3rem;
  text-align: center;

  h1 {
    font-weight: normal;
    font-family: var(--nails-corporate-font);
    font-size: 2.3rem;
    margin: 0.75rem;
  }
}

#qn-main {
  padding: 3rem 2rem 1rem 2rem;

  h1 {
    font-weight: lighter;
    text-align: center;
  }

  p {
    line-height: 1rem;
  }
}

@media (min-width: 1024px) {
  #qn-header {
    display: grid;
    place-items: center;
    h1 {
      font-size: 3.25rem;
      margin: 2.5rem;
    }
  }
  #qn-main {
    padding: 3rem;
    max-width: 750px;
    max-height: 800px;
    overflow-y: auto;
  }
}
