/* these styles only fits for the current Queen Nails Design (=current Flyer) */

@font-face {
  font-family: 'Andasia';
  src: url('fonts/Andasia.ttf');
}

:root {
  --nails-corporate-color: #9e472c;
  --nails-corporate-color-light: #d4856d;
  --nails-corporate-font: 'Andasia';
}

h1 {
  font-weight: normal;
}

#qn-header {
  color: white;
  background-color: var(--nails-corporate-color);
  position: sticky;
  top: 0;
  padding: 0.75rem 3rem;
  text-align: center;

  h1 {
    font-family: var(--nails-corporate-font);
    font-size: 2.3rem;
    margin: 0.75rem;
  }
  .contact-box {
    line-height: 0.45rem;
    font-size: 0.85rem;
  }
}

#qn-main {
  padding: 5rem 2rem 1rem 2rem;

  h1 {
    color: var(--nails-corporate-color);
  }
}

@media (min-width: 1024px) {
  #qn-header {
    h1 {
      font-size: 3rem;
      margin: 2.5rem;
    }
  }
  #qn-main {
    padding: 3rem;
    max-width: 750px;
    max-height: 800px;
    overflow-y: auto;
  }
}
